/*
Theme Name: Book Info
Theme URI: http://sorendata.com/
Author: Masoud Golchin
Author URI: http://sorendata.com/
Description: Sample Wordpress Theme
Version: 1.0
Text Domain: book-info
*/


* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-size: 100%;
}

.header {
    height: 100px;
    overflow: hidden;
    padding-left: 20px;
}

.header h1 {
    font: bold 2rem/3.125 Arial;
}

.content {
    margin-bottom: 10px;
    padding-left: 10px;
}

.book {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding-left: 10px;
}

.book h2 {
    font: bold 1.3rem/2 Arial;
}

.entry, .info {
    margin:10px 0
}

.footer {
    padding-left: 10px;
}
